@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

:root{
    --orange: rgb(255,125,26);
    --white: #fff
    --black: #000
    --very-dark-blue: rgb(29,32,37);
    --dark-grayish-blue: rgb(104,112,125);
    --grayish-blue: rgb(182,187,200);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #fff;
}

nav{
    width: 70%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 70px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
    margin-top: 50px;

}
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 4;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 45px;
  padding-bottom: 300px;
}

.sidepanel a {
  padding: 5px 8px 8px 92px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 400;
}

.sidepanel a:hover {
  font-weight: 700;
}

.sidepanel .closebtn {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: #000;
  width: 60px;
  height: 40px;
  padding: 10px 15px;
  border: none;
  display: none;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul img{
    margin-right: 50px;
}
nav ul li{
    margin: 0 20px;
    color: var(--dark-grayish-blue);
    position: relative;
}
nav ul li:after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    top: 92px;
    background-color: var(--orange);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
nav ul li:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
nav .personal{
    display: flex;
    align-items: center;
    height: 100%;
}
nav .personal .cart{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
}
nav span {
  background-color: var(--orange);
  width: 40px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: -15px;
  right: 15px;
  text-align: center;
}
nav span p{
  position: absolute;
  top: -20px;
  right: 12px;
  font-size: 16px;
  color: #fff;
}
nav .personal .avatar{
    width: 60px;
    height: 60px;
    margin-left: 50px;
}
nav .personal .avatar:hover{
    border: 2px solid var(--orange);
    border-radius: 50%;
}
.cart-content{
    width: 350px;
    height: 250px;
    background-color: #fff;
    box-shadow: 2px 2px 25px #ccc;
    border-radius: 10px;
    position: absolute;
    right: 250px;
    top: 120px;
    display: none;
}
.cart-content nav {
    width: 100%;
    height: 70px;
    margin-top: 0;
    line-height: 70px;
    padding: 0 20px;
}
#cart-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.1rem 0;
}

.cart-item {
    /* display: flex; */
    /* display: none; */
    flex-direction: row;
    align-self: center;
    align-items: center;
    width: 90%;
    height: 3rem;
    margin-top: 10px;
}


.image-thumbnail {
    width: 55px;
    height: 55px;
}

.image-thumbnail>img {
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

.item-details {
    padding: 0 .8rem;
    line-height: 1.8;
}

.item-details h5 {
    margin: 0;
    text-align: left;
    color: hsl(219, 9%, 45%);
    font-weight: 300;
    align-self: flex-start;
}

.item-details h5:nth-child(1) {
    font-size: .9rem;
}

.item-details h5:nth-child(2) {
    font-size: 1rem;
}

.item-details>h5>strong {
    color: hsl(220, 13%, 13%);
}

.delete-icon {
    padding-left: 10px;
}

.delete-icon:hover {
    cursor: pointer;
}

#checkout-btn {
    /* display: none; */
    position: relative;
    margin-top: 40px;
    border: none;
    padding: 1rem;
    width: 90%;
    align-self: center;
    border-radius: 10px;
    background-color: hsl(26, 100%, 55%);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
}
#empty-cart {
  text-align: center;
  color: hsl(219, 9%, 45%);
  font-weight: bold;
}
.content{
    width: 65%;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .main{ 
    width: 500px;
    border-radius: 15px;
}  
.row > .column{
    padding-right: 10px;
}
.hover
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 600px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  img.demo {
    width: 150px;
    margin-top: 10px;
    padding: 0 5px;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {

    width: 118px;
    border-radius: 15px;
    margin-top: 10px;
  }
  
  .hover-shadow:hover {
    border: 2px solid var(--orange);
    opacity: 0.7;
  }

.content .main-text{
    margin-left: 100px;
}
.content .main-text h1{
  margin-top: 30px;
}
.content .main-text p{
  margin-top: 30px;
}
.content .main-text .info{
    width: 420px;
}
.content .main-text span{
    color: orange;
    font-weight: 700;
}
.content .price-box{
  margin-top: 30px;
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: space-between;
}
.content .price-box p{
  padding: 5px 10px;
  font-weight: 700;
  color: orange;
  background-color: #ffa60056;
  border-radius: 5px;
}
.content .discount{
  margin-top: -20px;
  color: rgba(0, 0, 0, 0.616);
  text-decoration: line-through;
}
  
.main-text .container {
justify-content: center;
align-items: center;
width: 200px;
display: flex;
background-color: #F6F8FD;
text-align: center;
}

/*apply css properties to button tag*/

.container button {
width: 90px;
height: 60px;
font-size: 30px;
color: orange;
background-color: #F6F8FD;
border: none;
cursor: pointer;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container input[type="number"]{
  width: 100%;
  text-align: center;
  font-size: 20px;
  border: none;
  background-color: #F6F8FD;
}


/*apply css properties to h2 tag*/

.container h2 {
color: black;
margin: 0 50px;
font-size: 22px;
}

/*apply css properties to h1 tag*/

.container h1 {
font-size: 35px;
color: green;
text-align: center;
padding-left: 10%;
}
.lower{
display: flex;
align-items: center;
margin-top: 30px;
}
.lower .cart{
background-color: var(--orange);
width: 300px;
height: 60px;
margin-left: 15px;
border-radius: 10px;
display: flex;
justify-content: center;
cursor: pointer;
align-items: center;
}
.lower .cart p{
margin-top: 0;
margin-left: 10px;
color:#fff;
}
.secondLogo{
  display: none;
}
.carousel {
  width: 600px;
  height: 600px;
  position: relative;
  display: none;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  border: none;
  font-size: 26px;
  top: 60%;
  transform: translateY(-50%);
  color: #000;
  cursor: pointer;
  border-radius: 50%;
  padding: 20px 30px;
  background-color: #fff
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
@media screen and (max-width:1024px) {
  .content{
    flex-direction: column;
  }
  nav{
    width: 100%;
  }
}
@media screen and (max-width:768px) {
  .dekstop-navbar{
    display: none;
  }
  .carousel{
    display: block;
  }
  .openbtn{
    display: block;
  }
  .secondLogo{
    display: block;
  }
  nav{
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding-bottom: 0;
    margin-top: 20px;
    border-bottom: none;
  }
  nav .personal .avatar{
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
  .image-gallery .row{
    display: none;
  }
  .modal-content{
    width: 500px;
    margin-top: 70px;
    border-radius: 15px;
  }
  .image-gallery{
    display: none;
  }
  .content .main-text{
    margin-left: -90px;
  }
  .lower{
    margin-bottom: 50px;
  }
  .cart-content{
    z-index: 2;
    top: 80px;
    right: 130px;
    box-shadow: 2px 2px 25px #a0a0a0;
  }
  .cart-content nav{
    justify-content: left;
    border-bottom: 1px solid #ccc;
  }
}
@media screen and (max-width:425px) {
  nav{
    width: 100%;
  }
  .carousel{
    width: 48vh;
    height: 400px;
  }
  .content .main-text{
    margin-left: 10px;
  }
  .lower{
    flex-direction: column;
    align-items: center;
    margin-left: -15px;
  }
  .lower .cart{
    margin-left: 0;
    width: 90%;
    border-radius: 0px;
  }
  .main-text .container {
    width: 90%;
    margin-bottom: 10px;
  }
  .content .main-text .info{
    width: 400px;
  }
  .cart-content{
    right: 40px;
    z-index: 3;
  }
  .sidepanel a{
    padding-left: 40px;
  }
}